<div id="<%= dom_id father %>">
  <p>
    <strong>Name:</strong>
    <%= father.name %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= father.cpf %>
  </p>
<p>
    <strong>Email:</strong>
    <%= father.email %>
  </p>

<p>
    <strong>Email:</strong>
    <%= father.email %>
  </p>
<p>
    <strong>Occupation:</strong>
    <%= father.occupation.description %>
  </p>
  
</div>
