<p style="color: green"><%= notice %></p>

<%= render @father %>

<hr>
  <ul>
  <% 
    @father.children.each do |child| %>
      <li><%= "#{child.name} - #{pegarsexo(child.sex)}"%></li>
    <%end%>
  </ul>


<div>
  <%= link_to "Edit this father", edit_father_path(@father) %> |
  <%= link_to "Back to fathers", fathers_path %>

  <%= button_to "Destroy this father", @father, method: :delete %>
</div>
