<div id="<%= dom_id tournament %>">
  <p>
    <strong>Name:</strong>
    <%= tournament.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= tournament.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= tournament.end_date %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= tournament.active %>
  </p>

  <p>
    <strong>Obs:</strong>
    <%= tournament.obs %>
  </p>

</div>
